<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
        <rewrite>
            <rules>
                <rule name="About Rule">
                    <match url="^about/([_0-9a-z-]+)" />
                    <action type="Rewrite" url="about/index.php?slug={R:1}" />
                </rule>
				<rule name="Contact Rule">
                    <match url="^contact/([_0-9a-z-]+)" />
                    <action type="Rewrite" url="contact/index.php?slug={R:1}" />
                </rule>
				<rule name="Donate Rule">
                    <match url="^donate/([_0-9a-z-]+)" />
                    <action type="Rewrite" url="donate/index.php?slug={R:1}" />
                </rule>
            </rules>
        </rewrite>
    </system.webServer>
</configuration>
